#board {
    display: flex;
    gap: 0;
    height: 100%;
    flex-wrap: wrap;
}

.bar {
    background: lightblue;
    flex-basis: 4%;
}

.home {
    background: lightblue;
    flex-basis: 4%;
}

.point {
    display: flex;
    position: relative;
    align-items: center;
    flex-basis: calc(100% / 14);

    &::before {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        z-index: -1;
    }
}

:nth-child(1 of .bar) {
    order: 3;
    display: flex;
        flex-direction: column;
        justify-content: flex-end;
}
:nth-child(2 of .bar) {
    order: 7;
}

:nth-child(1 of .home) {
    order: 5;
}

:nth-child(2 of .home) {
    order: 9;
}

:nth-child(-n+12 of .point) {
    order: 4;
}

:nth-child(-n+6 of .point) {
    order: 2;
}

:nth-child(n+13 of .point) {
    order: 6;
}

:nth-child(n+19 of .point) {
    order: 8;
}

/* landscape layout (tablet / computer) */
@media (min-aspect-ratio: 1) {
    .point {
        flex-direction: column;
    }
    .point:hover::before {
        border-top-color: blue !important;
    }

    .point::before {
        left: 50%;
        transform: translateX(-50%);
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
    }

    /* top */
    :nth-child(-n+12 of .point) {
        &::before {
            border-top: 40vh solid #111;
        }

        &:nth-child(odd)::before {
            border-top-color: brown;
            border-top-width: 30vh;
        }
    }

    /* bottom */
    :nth-child(n+13 of .point) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &::before {
            border-top: none;
            border-bottom: 40vh solid black;
            bottom: 0;
            top: auto;
        }

        &:nth-child(even)::before {
            border-bottom-color: brown;
            border-bottom-width: 30vh;
        }

        &:hover::before {
            border-bottom-color: blue !important;
        }
    }
}

/* Portrait layout (mobile phone) */
@media (max-aspect-ratio: 1) {
    #board {
        flex-direction: column;
    }

    .point {
        &:hover::before {
            border-left-color: blue !important;
        }

        &::before {
            top: 50%;
            transform: translateY(-50%);
            border-top: 40px solid transparent;
            border-bottom: 40px solid transparent;
        }
    }

    /* top */
    :nth-child(-n+12 of .point) {
        &::before {
            border-left: 40vw solid #f00;
            left: 0;
        }

        &:nth-child(odd)::before {
            border-left-color: lightcoral;
            border-left-width: 30vw;
        }
    }
    /* bottom */
    :nth-child(n+13 of .point) {
        justify-content: flex-end;
        &::before {
            border-left: none;
            border-right: 40vw solid #f00;
            right: 0;
        }

        &:hover::before {
            border-right-color: blue !important;
        }

        &:nth-child(even)::before {
            border-right-color: lightcoral;
            border-right-width: 30vw;
        }
    }
}