.piece {
    width: 8vmin;
    aspect-ratio: 1;
    cursor: pointer;
    /* border-radius: 50%; */

    &.white {
        /* background: white; */
    }

    &.black {
        /* background: black; */
    }

    img {
        width: 100%;
        height: 100%;
    }
    .bar & {
        /* Portrait layout (mobile) */
        @media (max-aspect-ratio: 1) {
            height: 100%;
        }
    
        /* Landscape layout (laptop / tablet ) */
        @media (min-aspect-ratio: 1) {
            width: 100%;
        }
    }
}