# Sentry source map upload and release tracking (optional)
# Obtain an auth token from https://sentry.io/orgredirect/organizations/:orgslug/settings/auth-tokens/
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
