#board {
    --primary: brown;
    --secondary: #ffd8a0;
    --primary-hover: #2727ff;
    --secondary-hover: rgb(128, 128, 211);
    user-select: none;
    .selected {
        --primary: red;
        --secondary: red;
    }
    display: flex;
    gap: 0;
    height: 100%;
    flex-wrap: wrap;
    touch-action: none;
    > * {
        display: flex;
        align-items: center;
        flex-basis: calc(100% / 15);
        /* landscape layout (tablet / computer) */
        @media (min-aspect-ratio: 1) {
            flex-direction: column;
            max-width: calc(100% / 15);
        }
    
        /* portrait layout (mobile) */
        @media (max-aspect-ratio: 1) {
            flex-direction: row;
            max-height: calc(100% / 15);
        }
    }
}

.toolbar {
    order: 1;
}

.bar {
    background: lightblue;
}

.home {
    background: lightblue;
}

.point {
    position: relative;

    &::before {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        z-index: -1;
    }
}

/*
order:
[toolbar1] [leftboard2] [bar3] [rightboard4] [home5]
[dice6] [leftboard7] [bar8] [rightboard9] [home10]
*/

:nth-child(1 of .bar) {
    order: 3;
    justify-content: flex-end;
}
:nth-child(2 of .bar) {
    order: 8;
}
:nth-child(1 of .home) {
    order: 5;
}
:nth-child(2 of .home) {
    order: 10;
    justify-content: flex-end;
}
:nth-child(-n+12 of .point) {
    order: 4;
}
:nth-child(-n+6 of .point) {
    order: 2;
}
:nth-child(n+13 of .point) {
    order: 6;
}
:nth-child(n+19 of .point) {
    order: 8;
}

@media (min-aspect-ratio: 1) {/* landscape layout (tablet / computer) */
    .home {
        height: 50%;
    }
    .point {
        height: 50%;
        &:hover::before {
            /* border-top-color: var(--primary-hover) !important; */
        }
        &::before {
            left: 50%;
            transform: translateX(-50%);
            border-left: 3vmax solid transparent;
                border-right: 3vmax solid transparent;
        }
        :nth-child(-n+12 of &) {/* top */
            &::before {
                border-top: 40vmin solid var(--secondary);
            }
    
            &:nth-child(odd)::before {
                border-top-color: var(--primary);
                border-top-width: 40vmin;
            }
            /* Stack Pieces */
            .piece:nth-child(n+6) {
                transform: translateY(-450%);
            }
            .piece:nth-child(n+10) {
                transform: translateY(-800%);
            }
            .piece:nth-child(n+13) {
                transform: translateY(-1050%);
            }
            .piece:nth-child(n+15) {
                transform: translateY(-1200%);
            }
        }
    
        :nth-child(n+13 of &) {/* bottom */
            flex-direction: column-reverse !important;
            &::before {
                border-top: none;
                border-bottom: 40vmin solid var(--secondary);
                bottom: 0;
                top: auto;
            }
            &:nth-child(even)::before {
                border-bottom-color: var(--primary);
                border-bottom-width: 40vmin;
            }
    
            &:nth-child(even):hover::before {
                /* border-bottom-color: var(--primary-hover) !important; */
            }
            &:nth-child(odd):hover::before {
                /* border-bottom-color: var(--secondary-hover) !important; */
            }
            /* Stack Pieces */
            .piece:nth-child(n+6) {
                transform: translateY(450%);
            }
    
            .piece:nth-child(n+10) {
                transform: translateY(800%);
            }
    
            .piece:nth-child(n+13) {
                transform: translateY(1050%);
            }
    
            .piece:nth-child(n+15) {
                transform: translateY(1200%);
            }
        }
    }
}
   
@media (max-aspect-ratio: 1) {/* Portrait layout (mobile phone) */
    #board {
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }
    #toolbar {
        order: 6;
    }
    .dice {
        order: 1;
    }
    .home {
        width: 50%;
    }
    .point {
        width: 50%;
        
        &:nth-child(even):hover::before {
            /* border-right-color: var(--primary-hover) !important; */
        }
        &:nth-child(odd):hover::before {
            /* border-right-color: var(--secondary-hover) !important; */
        }

        &::before {
            top: 50%;
            transform: translateY(-50%);
            border-top: 3vmax solid transparent;
                border-bottom: 3vmax solid transparent;
        }
        :nth-child(-n+12 of &) {/* top */
            flex-direction: row-reverse !important;
            
            &::before {
                border-right: 40vmin solid var(--primary);
                right: 0;
            }
    
            &:nth-child(odd)::before {
                border-right-color: var(--secondary);
                border-right-width: 40vmin;
            }
            /* Stack Pieces */
            .piece:nth-child(n+6) {
                transform: translateX(-450%);
            }
            .piece:nth-child(n+10) {
                transform: translateX(-800%);
            }
            .piece:nth-child(n+13) {
                transform: translateX(-1050%);
            }
            .piece:nth-child(n+15) {
                transform: translateX(-1200%);
            }
        }
        
        :nth-child(n+13 of &) {/* bottom */
            &::before {
                border-right: none;
                border-left: 40vmin solid var(--primary);
                left: 0;
            }
            &:hover::before {
                /* border-left-color: var(--primary-hover) !important; */
            }
            &:nth-child(even)::before {
                border-left-color: var(--secondary);
                border-left-width: 40vmin;
            }
            /* Stack Pieces */
            .piece:nth-child(n+6) {
                transform: translateX(450%);
            }
            .piece:nth-child(n+10) {
                transform: translateX(800%);
            }
            .piece:nth-child(n+13) {
                transform: translateX(1050%);
            }
            .piece:nth-child(n+15) {
                transform: translateX(1200%);
            }
        }
    }
}
