.dice {
    order: 6;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    position: relative;

    &.pulsate {
        animation: pulsate 1s infinite ease-out alternate-reverse;
    }
    
    img {
        aspect-ratio: 1;
        flex-basis: 0;
        flex-grow: 1;
        min-height: 0;
        width: auto;
        height: auto;
        object-fit: contain;
        min-width: 0;
        max-height: 100%;
        max-width: 100%;
        transition: opacity .2s;
        &.used {
            opacity: .5;
        }
    }

    .undo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3em;
        height: 3em;
        fill: #000;
        pointer-events: none;
        z-index: 10;
    }

    @media (prefers-color-scheme: dark) {
        .undo {
            fill: #fff;
        }
    }
}