.piece {
    /* border-radius: 50%; */
    /* &.white {
        background: white;
    } */

    /* &.black {
        background: black;
    } */
    aspect-ratio: 1;

    &[draggable="true"] {
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 100%;
    }

    &.ghost {
        opacity: 0.5;
        animation: ghost 1s infinite alternate;
    }

    &.moved {
        filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.8));
        animation: glow 1s infinite alternate;
    }

}

@keyframes ghost {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.3;
    }
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.8));
    }
    100% {
        filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.8));
    }
}