.piece {
    /* border-radius: 50%; */
    /* &.white {
        background: white;
    } */

    /* &.black {
        background: black;
    } */
    aspect-ratio: 1;

    &[draggable="true"] {
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 100%;
    }

    &.ghost {
        opacity: 0.5;
        animation: ghost 1s infinite alternate;
    }

    &.moved {
        outline-offset: 3px;
        animation: moved 1s infinite alternate;
        border-radius: 50%;
        
        &.white {
            outline: 5px solid rgba(255, 255, 255, 0.5);
        }
        
        &.black {
            outline: 5px solid rgba(0, 0, 0, 0.5);
        }
    }

}

@keyframes ghost {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.3;
    }
}

@keyframes moved {
    0% {
        outline-width: 6px;
        outline-offset: 8px;
    }
    100% {
        outline-width: 4px;
        outline-offset: 3px;
    }
}