.piece {
    /* border-radius: 50%; */
    /* &.white {
        background: white;
    } */

    /* &.black {
        background: black;
    } */
    aspect-ratio: 1;

    &[draggable="true"] {
        cursor: pointer;
    }

    &.ghost img {
        opacity: 0.5;
    }

    img {
        width: 100%;
        height: 100%;
    }
}
