.piece {
    /* flex-basis: 100%; */
    /* border-radius: 50%; */
    /* &.white {
        background: white;
    } */

    /* &.black {
        background: black;
    } */
    aspect-ratio: 1;
    @media (max-aspect-ratio: 1) { /* Portrait layout (mobile) */
        height: 100%;
    }
    @media (min-aspect-ratio: 1) { /* Landscape layout (laptop / tablet ) */
        width: 100%;
    }

    &[draggable="true"] {
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 100%;
    }
}