.avatar {
    width: 4em;
    border-radius: 50%;
    aspect-ratio: 1;
    /* border: 2px solid #AAA; */
    object-fit: cover;
}

.avatar-initials {
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
    background-color: var(--primary, brown);
    color: white;
    font-weight: bold;
    user-select: none;

    span {
        font-size: 1.5em;
    }
}
