:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  /* padding:23px; */
  box-sizing: border-box;
  /* box-shadow:
    inset #19d4ff 0 0 0 5px,
    inset #18cdf7 0 0 0 1px,
    inset #53dfff 0 0 0 10px,
    inset #50d8f7 0 0 0 11px,
    inset #8ce9ff 0 0 0 16px,
    inset #88e2f7 0 0 0 17px,
    inset #c5f4ff 0 0 0 22px,
    inset #bfecf7 0 0 0 23px; */
}

[onPointerUp], a {
  cursor: pointer;
}

.material-icons {
  user-select: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

