:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  color: #213547;
  background-color: #242424;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  padding:23px;
  box-sizing: border-box;
  box-shadow:
    inset #19d4ff 0 0 0 5px,
    inset #18cdf7 0 0 0 1px,
    inset #53dfff 0 0 0 10px,
    inset #50d8f7 0 0 0 11px,
    inset #8ce9ff 0 0 0 16px,
    inset #88e2f7 0 0 0 17px,
    inset #c5f4ff 0 0 0 22px,
    inset #bfecf7 0 0 0 23px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.modal {
  position: absolute;
  bottom: 40px;
  right: 40px;
  /* Portrait layout (mobile) */
  @media (max-aspect-ratio: 1) {
    top: 100px;
    left: 40px;
  }

  /* Landscape layout (laptop / tablet ) */
  @media (min-aspect-ratio: 1) {
    top: 40px;
    left: 100px;
  }
}