#toolbar {
    gap: 5px;
    > a {
        font-weight: bold;
        font-size: 3em;
    }

  /* Portrait layout (mobile) */
  @media (max-aspect-ratio: 1) {
      max-width: 50%;
      h2 {
        text-overflow: ellipsis;
        overflow: hidden;
      }
  }

  /* Landscape layout (laptop / tablet ) */
  @media (min-aspect-ratio: 1) {
      max-height: 50%;
      h2 {
        text-overflow: ellipsis;
        overflow: hidden;
        writing-mode: vertical-rl;
        text-orientation: mixed;
      }
  }
}