#friends {
    padding: 0 1em;

    input {
        display: block;
        width: 100%;
        padding: 5px;
    }

    #people ul {
        list-style: none;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 1em;

            h3 {
                margin: 0;
                
                    img {
                    margin-right: 1em;
                

                                                h1 {
                                                        vertical-align: text-top;
                                                        display: flex;
                                                        justify-content: space-between;

                span {
                        display: flex;
                        overflow: hidden;

                    span {
                            margin-right: .2em;
                    
            }
        }
                }
}