#login {
    .local {
        border-radius: 2px;
        min-width: 220px;
        box-sizing: border-box;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
        padding: 8px 16px;
        border: none;
        margin: 10px auto;
        display: flex;
        align-items: center;
        gap: 14px;
        background-color: var(--primary-color);
        color: var(--background-color);
        font-size: 14px;
    }
    hr {
        width: 100px;
        margin: 24px auto;
    }
}
