#profile {
    label {
        display: flex;
        margin: 1em 0;
        flex-basis: 100%;
        flex-direction: row;

        >* {
            flex: 1;
            margin-left: 1em;
        }
    }

    h1 {
        vertical-align: text-top;
        display: flex;
        justify-content: space-between;
        margin-top: 0;

        a {
            color: var(--primary-color);
        }
    }

    .avatar {
        display: block;
        margin: 1em auto;
    }
}